<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <strong>Requested for the seat</strong><br>
  
  Email: <%= @employee %><br>
  Name: <%= @name %><br>
  Seat Number: <%= @seat.seat_no %><br>
</body>

</html>

